<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="config.js"></script>
    <title>Document</title>
</head>
<body>

   <p>For testing sake, here is the data you need. matt, 12345, LOCALHOST\\SQLEXPRESS, Northwind</p>


       <form id="dbEntryForm" action="/login" method="post">
                <label for="user">Username: </label><input type="text" id="username" name="user"><br>
                <label for="password">Password: </label><input type="text" id="password"name="password"><br>
                <label for ="server">Server Name: </label><input type="text" id="server" name="server"><br>
                <label for = "database">Database Name: </label><input type = "text" id = "database" name = "database"><br>
                <input type="submit">
       </form>
</body>
</html>